
@{
    ViewBag.Title = "HienThiAdd";
}
@model KtraTxuyen1.Models.Nhanvien
<h2>Dữ liệu vừa thêm là</h2>
<div>
    @Model.manv
    <br />
    @Model.hoten
    <br />
    @Model.diachi
    <br />
    @Model.luongngay
    <br />
    @Model.songaylam
    <br />
    @Model.tienluong

</div>
